@font-face {
  font-family: "Sarasa";
  src: url("./fonts/sarasa-fixed-j-regular.ttf");
}

@font-face {
  font-family: "FiraCode";
  src: url("./fonts/FiraCode-Regular-NerdFont-Complete.ttf");
}

:root {
  --black: #1b2229;
  --red: #e06c75;
  --yellow: #ebcb8b;

  --fg: #81a1c1;
  --bg: #3b4252;
}

body {
  background: #2e3440;
}

main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rose1 {
  float: left;
  margin-top: 12px;
  width: 56px;
}

.rose2 {
  float: right;
  margin-top: 12px;
  width: 56px;
}

.title {
  font-family: "Sarasa";
  font-size: 56px;
  font-weight: bold;
  color: var(--red);
  display: inline;
  text-shadow: 4px 4px 6px var(--black);
}

.cardtitle {
  text-align: center;
}

.searchbox {
  background-color: var(--bg);
  border-radius: 8px;
  box-shadow: 8px 8px 5px var(--black);
  height: 48px;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

form {
  width: 100%;
}

form label {
  font-family: "FiraCode";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  color: var(--red);
  margin-left: 8px;
}

form input[type="search"] {
  font-family: "Sarasa";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  border: none;
  background: none;
  color: var(--fg);
  width: 96%;
}

form:focus-within input::placeholder {
  opacity: 0;
}

.bookmarks {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.card {
  background-color: var(--bg);
  width: 240px;
  height: 420px;
  box-shadow: 8px 8px 5px var(--black);
  border-radius: 8px;
}

.group {
  color: var(--red);
  font-family: "FiraCode";
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 12px;
  text-shadow: 2px 2px 4px var(--black);
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
}

a {
  font-family: "FiraCode";
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: var(--fg);
}

a:hover {
  color: var(--yellow);
}

footer {
  position: fixed;
  bottom: 0;
  font-family: "FiraCode";
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
