:root {
  --uc-urlbar-bg-color: #2e3440;
  --uc-show-new-tab-button: none;
  --uc-show-tab-separators: none;
  --uc-tab-separators-color: none;
  --uc-tab-separators-width: none;
}
#titlebar {
  -moz-box-ordinal-group: 2 !important;
}
.titlebar-buttonbox-container {
  display: none !important;
}
#TabsToolbar {
  min-height: 28px !important;
}
.tabbrowser-tab:not([pinned]) {
  max-width: 100vw !important;
}
.tabbrowser-tab:not([fadein]),
/* #page-action-buttons, */
.titlebar-spacer,
.tab-line,
#tracking-protection-icon-container {
  display: none !important;
  border: none !important;
}
/* #identity-box { */
/*   visibility: collapse !important; */
/* } */
#urlbar-background,
.titlebar-buttonbox-container,
#nav-bar,
.tabbrowser-tab:not([selected]) .tab-background {
  background: none !important;
  background-color: var(--uc-urlbar-bg-color) !important;
  border: none !important;
}
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation-name: none !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) !important;
}
#urlbar-background {
  box-shadow: none !important;
}
#nav-bar,
.titlebar-buttonbox-container {
  border-bottom: 1px solid rgb(229, 233, 240);
}
#tabs-newtab-button {
  display: var(--uc-show-new-tab-button) !important;
}
.tabbrowser-tab::after {
  border-left: var(--uc-tab-separators-width) solid var(--uc-tab-separators-color) !important;
  display: var(--uc-show-tab-separators) !important;
}
.tab-background[selected="true"] {
  background-color: #4c566a !important;
}
.tabbrowser-tab[first-visible-tab][last-visible-tab] {
  background-color: var(--uc-bar-bg-color) !important;
}
.tab-close-button.close-icon {
  display: none !important;
}
.tabbrowser-tab:hover .tab-close-button.close-icon {
  display: block !important;
}
#urlbar-input {
  text-align: center !important;
}
#urlbar-input:focus {
  text-align: left !important;
}
#PersonalToolbar {
  background-color: #2e3440 !important;
  padding: 3px 0 !important;
}
#PersonalToolbar toolbarbutton.bookmark-item {
  padding: 6px !important;
  background-color: #2e3440 !important;
  border: 0 !important;
}
#PersonalToolbar toolbarbutton.bookmark-item:hover,
#PersonalToolbar toolbarbutton.bookmark-item[open="true"] {
  background: #4c566a !important;
}
